.card{
    margin:20% 40%;
    border: none;
}

/* input{
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
} */

/* /*  */

.btn{
    font-size: 20px !important;
    color: white;
}